# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/

# Environment
.env*.local
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
Thumbs.db

# Logs
npm-debug.log*
pnpm-debug.log*
